# Environment Variables & Secrets
.env
.env.*
.evn

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# Temporary Audio & Logs
*.wav
*.mp3
*.log
*.tmp

# Trained Models
*.pkl
